/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
}
  
.icon-block {
  padding: 0 15px;
}

.login-push {
    padding-top: 50px;
}

.chatbox {
    overflow:scroll;
    height: 646px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.subbrand {
    font-size: 1.64rem;
    line-height: 1.804rem;
    margin: 0.82rem 0 0.656rem 0;
}

.logo {
    padding: 15px;
    color: #29b6f6;
    font-size: 2.92rem;
    line-height: 3.212rem;
    margin: 1.46rem 0 1.168rem 0;
    border-bottom: 1px solid #ddd;
}

.menu {
    background-color: #fff;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

.file {
    text-decoration: none;
    color: black;
}

textarea {
  width: 100%;
  height: 100%;;
  background-color: transparent;
}

ul.side-nav.fixed li:hover, ul.side-nav.fixed .active {
    background-color: #ddd;
}

ul.side-nav.fixed i {
    width: 2rem;
    font-size: 1.6rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}